*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'DM Sans', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
}
section{
    max-width: 1200px;
    padding: 3rem 0;
}
img{
    width: 100%;
    border-radius: 10px;
}
h1{
    font-size: 4rem;
}
.heading,.itallic,.content,h2{
    margin:2rem 0;
}
.itallic{
    font-style: italic;
    color: gray;
}
.row{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}
.card{
    width: 30%;
}
.card p{
    font-size: 1.2rem;
}
/* media queries for mobile devices */
@media screen and (max-width: 480px) {
    section {
        padding: 1rem;
    }
    h1 {
        font-size: 2rem;
    }
    .row {
        display: flex;
        flex-direction: column;
    }
    .card {
        width: 100%;
        margin: 1rem 0;
    }
}

/* media queries for tablet and small laptops*/
@media screen and (min-width:480px) and (max-width: 1200px) {
    section {
        padding: 2rem;
    }
    h1 {
        font-size: 3rem;
    }

}

/* Media queries for double portrait mode: ( Dual Screen Book mode) */
@media (horizontal-viewport-segments: 2) {
    section {
        display: flex;
        padding: 0;
        position: relative;
    }
    main{
        width:env(viewport-segment-width 0 0);
        padding: 1rem;
        height:env(viewport-segment-height 0 0) ;
        position: fixed;
    }
    article{
        margin-left: calc(env(viewport-segment-left 1 0) - env(viewport-segment-right 0 0) + env(viewport-segment-width 0 0) );        
        width: env(viewport-segment-width 0 1);
        padding: 1rem;
        overflow: scroll;

    }
    .row {
        display: flex;
        flex-direction: column;
    }
    .card {
        width: 100%;
        margin: 1rem 0;
    }
}

/* Media queries for double landscape mode: ( Dual Screen laptop mode) */
@media (vertical-viewport-segments: 2) {
    section {
        padding: 0;
        position: relative;
    }  
    main {
        width: env(viewport-segment-width 0 0);
        text-align: center;
        height: env(viewport-segment-height 0 0);
        padding: 1rem;
        position: fixed;
        background-color: #fff;
    }
    h1 {
        font-size: 2rem;
        margin-bottom: 2rem;
    }
    main>img{
        width: 80%;
    }
    article {
        width: env(viewport-segment-width 0 1);
        padding: 1rem;
        margin-top: calc(env(viewport-segment-top 0 1) - env(viewport-segment-bottom 0 0) + env(viewport-segment-height 0 0));
    }
    .row {
        display: flex;
    }
    .card {
        width: 30%;
    }
    .card img{
        width: 100%;
    }
}